/*
* PURE - Sublime Coming Soon Template
* Build Date: July-August 2016
* Last Update: May 2017
* Author: Madeon08 for ThemeHelite
* Copyright (C) 2016 ThemeHelite
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/
/*  TABLE OF CONTENTS
    ---------------------------
    *. @Import & Reset
    *. Preloader styles
    1. Generic styles
    2. Home
    3. About
    4. Services
    5. Portfolio
    6. Contact
    7. Navigation
    8. Newsletter
    9. Social links
   10. Photo gallery
   11. Media Queries
*/
/* ------------------------------------- */
/* *. @Import & Reset .................. */
/* ------------------------------------- */ 
/* custom CSS files */
@import url(font-awesome.min.css);
@import url(ionicons.min.css);
@import url(bootstrap.min.css);
@import url(animate.css);
@import url(photoswipe.css);
@import url(default-skin/default-skin.css);
@import url(vegas.css);
/* Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/*
* http://meyerweb.com/eric/tools/css/reset/ 
* v2.0 | 20110126
* License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------- */
/* *. Preloader styles ................. */
/* ------------------------------------- */
#loading {
  width: 100vw;
  height: 100vh;
  background: #20232D;
  position: fixed;
  z-index: 999999;
}
#loading.vanish {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#loading:after {
  content: '';
  background: url(../img/overlay.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.1;
  height: 100vh !important;
}
#loading #preloader {
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  position: absolute;
  text-align: center;
  width: 100%;
  top: calc(50% - 10rem);
}
#loading #preloader .loading-logo {
  max-width: 8rem;
  margin-bottom: 1rem;
}
#loading #preloader .loading-text {
  display: block;
}
#loading #preloader .load {
  position: absolute;
  bottom: -2rem;
  left: calc(50% - 3.2rem);
}
#loading #preloader .load .loading-dot {
  float: left;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.4rem;
  background: #FFFFFF;
  opacity: 0;
  border-radius: 50%;
  -webkit-animation: loadingFade 1s infinite;
  animation: loadingFade 1s infinite;
}
#loading #preloader .load .loading-dot:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#loading #preloader .load .loading-dot:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#loading #preloader .load .loading-dot:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#loading #preloader .load .loading-dot:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
.flipOutYCustom {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipOutYCustom;
  animation-name: flipOutYCustom;
}

@-webkit-keyframes flipOutYCustom {
  from {
    -webkit-transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 15deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
  }
}
@keyframes flipOutYCustom {
  from {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 15deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, 15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 15deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
  }
}
/* ------------------------------------- */
/* 1. Generic styles ................... */
/* ------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  background: #323a45;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0;
  height: 100%;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

body, input, select, textarea {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  color: #00af94;
  text-decoration: none !important;
  outline: none !important;
}
a:active, a:focus {
  outline: none !important;
  text-decoration: none !important;
  color: #FFFFFF;
}

button {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
button:hover, button:active, button:focus {
  outline: none !important;
  text-decoration: none !important;
  color: #2B2D35;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.8;
  color: #939da5;
  font-weight: 400;
}
p.subtitle {
  margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 1.5rem 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: inherit;
}

h1 {
  text-transform: uppercase;
  font-size: 8rem;
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 100;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

.clear {
  clear: both;
}

.display-none {
  display: none !important;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.opacity-0 {
  opacity: 0 !important;
  visibility: hidden !important;
}

.opacity-03 {
  opacity: 0.3 !important;
}

.opacity-1 {
  opacity: 1 !important;
  visibility: visible !important;
}

.index-999 {
  z-index: -999 !important;
}

.row-no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.action-btn {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  background: #00c8aa;
  font-weight: 400;
  padding: 1rem 2.5rem;
  color: #FFFFFF;
  border-radius: 10rem;
  border: none;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 999;
  text-transform: uppercase;
  overflow: hidden;
}
.action-btn:after {
  font-family: 'FontAwesome';
  content: '\f0a2';
  position: absolute;
  opacity: 0;
  top: 0.4rem;
  right: -2rem;
  font-size: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: ring 1.5s infinite linear;
  animation: ring 1.5s infinite linear;
}
@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(0deg);
  }
  6.25% {
    -webkit-transform: rotate(-2deg);
  }
  12.5% {
    -webkit-transform: rotate(5deg);
  }
  18.75% {
    -webkit-transform: rotate(-10deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
  }
  31.25% {
    -webkit-transform: rotate(-20deg);
  }
  37.5% {
    -webkit-transform: rotate(25deg);
  }
  43.75% {
    -webkit-transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(35deg);
  }
  56.25% {
    -webkit-transform: rotate(-30deg);
  }
  62.5% {
    -webkit-transform: rotate(25deg);
  }
  68.75% {
    -webkit-transform: rotate(-20deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
  }
  81.25% {
    -webkit-transform: rotate(-10deg);
  }
  87.5% {
    -webkit-transform: rotate(5deg);
  }
  93.75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes ring {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  6.25% {
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  12.5% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  18.75% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  31.25% {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  37.5% {
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  43.75% {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  56.25% {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  62.5% {
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  68.75% {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  81.25% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  87.5% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  93.75% {
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.action-btn:hover {
  background: #00fbd5;
  color: #FFFFFF;
  border-color: #00c8aa;
  padding-right: 4.5rem;
}
.action-btn:hover:after {
  opacity: 1;
  right: 1.5rem;
}

.section {
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.text-left-block {
  width: 100%;
  left: 0;
  height: 100%;
  position: relative;
  z-index: 999;
}
.text-left-block .left-center-text {
  display: table;
  position: relative;
  height: 100vh;
  padding: 0 10%;
  text-align: left;
}
.text-left-block .left-center-text .left-center-part {
  display: table-cell;
  vertical-align: middle;
}
.text-left-block .left-center-text .left-center-part h2 {
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.copyright {
  position: absolute;
  left: 3rem;
  bottom: 0;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 5rem;
  z-index: 999;
}

#multi-div {
  overflow: auto;
  height: 100vh;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
}

/* ------------------------------------- */
/* 2. Home ............................. */
/* ------------------------------------- */
#clock {
  max-width: 80rem;
  text-align: center;
  font-size: 8rem;
  line-height: 1.2;
  margin-bottom: 4rem;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 300;
}
#clock span {
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  display: block;
  font-size: 1.8rem;
}

.home-logo {
  max-width: 8rem;
  z-index: 999;
}

.slideshow-home-left, .slideshow-home-right {
  position: absolute !important;
  z-index: -10;
  width: 50vw;
  height: 100vh !important;
}

.slideshow-overlay-left {
  opacity: 0.4;
  background: #232323;
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
}

.slideshow-overlay-right {
  opacity: 0.4;
  background: #232323;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
}

.intro {
  position: relative;
  z-index: 100;
  left: 0;
  padding: 0;
  top: 50vh;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  max-height: 111rem;
  padding: 0 10%;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}
.intro p {
  color: #FFFFFF;
  width: auto;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.intro .light-btn {
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  background: #FFFFFF;
  font-weight: 700;
  padding: 0.7em 2em;
  color: #fff;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
  margin: auto;
  border-radius: 0.3rem;
  border: 0.1rem solid #EFEFEF;
  display: inline-block;
}
.intro .light-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.intro .light-btn:after {
  content: ""; 
  position: absolute;
  top: calc(-1 * 3px);
  left: calc(-1 * 3px);
  height: calc(100% + 3px * 2);
  width: calc(100% + 3px * 2);
  background: -o-linear-gradient(30deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  z-index: -2;
}
@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.intro .light-btn:hover {
  background: transparent !important;
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes hvr-buzz-out{
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out{
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.intro .light-btn:focus, .intro .light-btn:active {
  background: #FFFFFF;
  color: #20232D;
}

.scroll-indicator {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 1rem;
  width: 100vw;
  text-align: center;
  display: block;
  -webkit-animation: bounce 2s 0s ease infinite;
          animation: bounce 2s 0s ease infinite;
}
.scroll-indicator a {
  opacity: 0.7;
  color: #FFFFFF;
  padding: 0 2rem;
}
.scroll-indicator a:hover {
  opacity: 1;
}
.scroll-indicator a i {
  font-size: 3rem;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-0.8em);
  }
  25% {
    -webkit-transform: translateY(0em);
  }
  100% {
    -webkit-transform: translateY(-0.8em);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-0.8em);
    -ms-transform: translateY(-0.8em);
    transform: translateY(-0.8em);
  }
  25% {
    -webkit-transform: translateY(0em);
    -ms-transform: translateY(0em);
    transform: translateY(0em);
  }
  100% {
    -webkit-transform: translateY(-0.8em);
    -ms-transform: translateY(-0.8em);
    transform: translateY(-0.8em);
  }
}
/* ------------------------------------- */
/* 3. About ............................ */
/* ------------------------------------- */
.slideshow-about {
  height: 100vh !important;
}

/* ------------------------------------- */
/* 4. Services ......................... */
/* ------------------------------------- */
#carousel-services .carousel-control {
  position: absolute;
  top: auto;
  background: transparent;
  background-image: none !important;
  bottom: -3.5rem;
  width: 3rem;
  font-size: 2rem;
  color: #FFFFFF;
}
#carousel-services .carousel-control .icon-prev:before {
  font-family: ionicons;
  content: '\f124';
}
#carousel-services .carousel-control .icon-next:before {
  font-family: ionicons;
  content: '\f125';
}
#carousel-services .carousel-control.left {
  left: 0;
}
#carousel-services .carousel-control.right {
  left: 5rem;
}
#carousel-services .carousel-indicators {
  padding: 0 1.5rem 1.5rem 0;
  bottom: -6rem;
  right: 0;
  margin: 0;
  left: auto;
  width: auto;
}
#carousel-services .carousel-indicators li {
  background: transparent;
  border: none;
  background: #434850;
  margin: 0 !important;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem !important;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
  border-radius: 10rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#carousel-services .carousel-indicators li:hover {
  background: #FFFFFF;
}
#carousel-services .carousel-indicators .active {
  width: 1rem;
  height: 1rem;
  margin: 0 !important;
  margin-right: 0.5rem !important;
  background: #FFFFFF;
}
#carousel-services .carousel-inner {
  overflow: hidden;
}
#carousel-services .carousel-inner .item {
  overflow: visible;
}
#carousel-services .carousel-inner .item .block-services {
  margin: 2rem 0 0;
  padding-left: 2rem;
}
#carousel-services .carousel-inner .item .block-services .icon-services {
  display: block;
  font-size: 5rem;
  color: #fff600;
}
#carousel-services .carousel-inner .item .block-services .icon-services.fa {
  line-height: 1.8;
}

.slideshow-services {
  height: 100vh !important;
}

/* ------------------------------------- */
/* 5. Portfolio ........................ */
/* ------------------------------------- */
.portfolio {
  overflow: hidden;
}
.portfolio figure {
  padding: 0 !important;
  overflow: hidden;
  cursor: pointer;
  height: 33.33333vh;
}
.portfolio figure img {
  height: 33.33333vh;
}
.portfolio figure:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 58, 69, 0.1)), to(rgba(50, 58, 69, 0.8)));
  background: -o-linear-gradient(rgba(50, 58, 69, 0.1), rgba(50, 58, 69, 0.8));
  background: linear-gradient(rgba(50, 58, 69, 0.1), rgba(50, 58, 69, 0.8));
}
.portfolio figure .gallery-link {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.portfolio figure .gallery-link .gallery-img {
  opacity: 0;
}
.portfolio figure .gallery-link .photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
}
.portfolio figure figcaption {
  background: transparent;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  left: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.portfolio figure figcaption .photo-details h4 {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}
.portfolio figure figcaption .photo-details h4 small {
  display: block;
  font-weight: 400;
  text-transform: none;
  font-size: 1rem;
  margin-top: 1rem;
}
.portfolio figure figcaption .photo-details p {
  display: none;
}
.portfolio figure:hover:after {
  opacity: 1;
}
.portfolio figure:hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.portfolio figure:hover .photo {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.portfolio div {
  padding: 0;
  overflow: hidden;
}

.block-team {
  margin: 2rem 0 0;
}
.block-team ul.social-team {
  position: absolute;
  top: 0.5rem;
  left: 4.5rem;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.block-team img.team-member {
  margin-bottom: 2rem;
}
.block-team:hover ul.social-team {
  opacity: 1;
  left: 2.5rem;
}
.block-team h3 small {
  color: #939da5;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* ------------------------------------- */
/* 6. Contact .......................... */
/* ------------------------------------- */
.phone-mail-link {
  color: #FFFFFF;
  font-weight: bold;
}
.phone-mail-link:hover {
  color: #00c8aa;
}

#contact-form .form-control {
      background: #ffffff00;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-weight: 400;
    border-bottom: 1px #949494 solid;
    outline: medium none;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    line-height: 1.4;
    height: auto;
    width: 100%;
    color: #FFFFFF;
    margin-bottom: 2rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: left;
}
#contact-form .form-control:hover, #contact-form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #293039;
}
#contact-form .form-control::-webkit-input-placeholder {
  color: #939da5 !important;
}
#contact-form .form-control::-moz-placeholder {
  color: #939da5 !important;
}
#contact-form .form-control:-moz-placeholder {
  color: #939da5 !important;
}
#contact-form .form-control:-ms-input-placeholder {
  color: #939da5 !important;
}
#contact-form textarea.form-control {
  min-height: 12rem;
}
#contact-form span.sub-text {
  color: #939da5;
  position: absolute;
  font-size: 0.9rem;
  right: 1.5rem;
  bottom: 0;
}
#contact-form button#valid-form {
  background: #00c8aa;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1.4rem 2.5rem;
  font-size: 1.4rem;
  color: #FFFFFF;
  margin: auto;
  margin-top: 2rem;
  border-radius: 10rem;
  border: none;
  display: inline-block;
}
#contact-form button#valid-form:hover {
  background: #00e2c0;
}

#block-answer {
  margin-top: 1em;
  text-align: left;
  color: #9ea1aa;
  position: absolute;
}
#block-answer .success-message p, #block-answer .error-message p {
  color: #9ea1aa !important;
}
#block-answer .success-message p span.name-success, #block-answer .error-message p span.name-success {
  color: #FFFFFF;
  font-weight: 600;
}
#block-answer .success-message .ion-checkmark-round, #block-answer .error-message .ion-checkmark-round {
  color: #27AE60;
}
#block-answer .error-message .ion-close-round {
  color: #FF1D4D;
}

.map-info {
  padding: 0;
}
.map-info #map {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 5;
  top: 0;
  left: 0;
  color: #232323 !important;
}
.map-info #map .gm-style-iw {
  top: 1rem !important;
}
.map-info #map h6 {
  font-weight: 500;
  color: #232323;
  font-size: 1.4rem;
  margin: 1rem 1rem 0.2rem 0;
  text-align: left;
}
.map-info #map p {
  font-weight: 400;
  color: #666666;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
}

/* ------------------------------------- */
/* 7. Navigation ....................... */
/* ------------------------------------- */
#multiscroll-nav {
  position: fixed;
  z-index: 1200;
  top: 50%;
  padding: 0 1rem;
  right: 0;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#multiscroll-nav ul {
  margin: 0;
  padding: 0;
}
#multiscroll-nav ul li {
  display: block;
  width: 3rem;
  height: 2.5rem;
  position: relative;
}
#multiscroll-nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
#multiscroll-nav ul li a:hover span:before {
  background: #00c8aa;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
#multiscroll-nav ul li .active span {
  background: transparent;
}
#multiscroll-nav ul li .active span:before {
  background: #00c8aa;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
#multiscroll-nav span {
  top: 0.5rem;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: 1;
}
#multiscroll-nav span:before {
  font-size: 1.5em;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #b3b3b3;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.multiscroll-tooltip {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  position: absolute;
  top: 1rem;
  right: 2rem;
  padding: 0.3rem 1rem;
  color: #FFFFFF;
  background: #00c8aa;
  border-radius: 10rem;
  font-size: 1.2rem;
  white-space: nowrap;
  max-width: 22rem;
  overflow: hidden;
  display: block;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a.link-nav .multiscroll-tooltip {
  opacity: 0;
  z-index: 0;
}
a.link-nav.active .multiscroll-tooltip {
  -webkit-animation: fade-tooltip 1.5s 0.2s cubic-bezier(0, 0, 0.58, 1);
  animation: fade-tooltip 1.5s 0.2s cubic-bezier(0, 0, 0.58, 1);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
a.link-nav.active-opening .multiscroll-tooltip {
  opacity: 1;
}
a.link-nav:hover .multiscroll-tooltip {
  opacity: 1;
  top: -1rem;
}

@-webkit-keyframes fade-tooltip {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    top: -1rem;
  }
  90% {
    opacity: 1;
    top: -1rem;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-tooltip {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    top: -1rem;
  }
  90% {
    opacity: 1;
    top: -1rem;
  }
  100% {
    opacity: 0;
  }
}
/* ------------------------------------- */
/* 8. Newsletter ....................... */
/* ------------------------------------- */
.ms-section {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.ms-section.newsletter-opened {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0.3;
}

#info {
  position: fixed;
  z-index: 1500;
  top: 0;
  width: 50%;
  height: 100vh;
  background: #FFFFFF;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#info.newsletter-opened {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
#info .close-newsletter {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: none;
  background: transparent;
  width: 5rem;
  height: 5rem;
  line-height: 0;
  color: #999999;
  font-size: 2em;
  opacity: 1;
}
#info .close-newsletter i {
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#info .close-newsletter:hover i {
  color: #666666;
}
#info .content {
  position: relative;
  z-index: 0;
  left: 0;
  padding: 0;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100rem;
  padding: 0 15%;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}
#info .content .brand-logo {
  display: block;
  position: relative;
  margin: 0 auto 6rem;
  max-width: 15rem;
}
#info .content #subscribe p {
  font-weight: 400;
}
#info .content #subscribe #notifyMe {
  margin: auto;
  margin-top: 5rem;
}
#info .content #subscribe #notifyMe .form-group {
  margin-bottom: 1em;
}
#info .content #subscribe #notifyMe .form-group .fa {
  color: #757A86;
  position: absolute;
  text-align: center;
  top: 1.5rem;
  left: 1.5rem;
}
#info .content #subscribe #notifyMe .form-group .form-control {
  text-align: center;
  background: #f2f3f7;
  border: none;
  border-radius: 0.3rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  font-weight: 400;
  outline: medium none;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  line-height: 1.4;
  width: 80%;
  margin: auto;
  color: #2d3138;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#info .content #subscribe #notifyMe .form-group .form-control:hover, #info .content #subscribe #notifyMe .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ecedf3;
}
#info .content #subscribe #notifyMe .form-group .form-control::-webkit-input-placeholder {
  color: rgba(45, 49, 56, 0.5) !important;
}
#info .content #subscribe #notifyMe .form-group .form-control::-moz-placeholder {
  color: rgba(45, 49, 56, 0.5) !important;
}
#info .content #subscribe #notifyMe .form-group .form-control:-moz-placeholder {
  color: rgba(45, 49, 56, 0.5) !important;
}
#info .content #subscribe #notifyMe .form-group .form-control:-ms-input-placeholder {
  color: rgba(45, 49, 56, 0.5) !important;
}
#info .content #subscribe #notifyMe .form-group button.submit {
  padding: 1.4rem 2.5rem;
  font-size: 1.4rem;
  display: block;
  text-transform: uppercase;
  margin: 3rem auto 0;
  background: #00c8aa;
  color: #FFFFFF;
  border-radius: 10rem;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 400;
  border: none;
}
#info .content #subscribe #notifyMe .form-group button.submit:hover {
  background: #00e2c0;
  color: #FFFFFF;
}
#info .block-message {
  min-height: 5rem;
  position: absolute;
  z-index: 999;
  bottom: -10rem;
  width: 100%;
  left: 0;
  padding: 2rem;
  text-align: center;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#info .block-message.show-block-error {
  bottom: 0;
  background: #FF1D4D;
}
#info .block-message.show-block-valid {
  bottom: 0;
  background: #00c8aa;
}
#info p.notify-valid {
  color: #FFFFFF;
  text-transform: none;
  font-size: 1.6rem;
  letter-spacing: 0;
  font-weight: 600;
}
#info .spam-news {
  width: 100%;
  text-align: center;
  color: #b1b1b1;
  font-size: 1rem;
  bottom: 3rem;
  left: 0;
  position: absolute;
}

/* ------------------------------------- */
/* 9. Social links ..................... */
/* ------------------------------------- */
#social-nav {
  position: absolute;
  opacity: 1;
  right: 2rem;
  bottom: 2rem;
  z-index: 999;
}
#social-nav ul {
  margin: 0;
  padding: 0;
}
#social-nav ul li {
  display: block;
  margin: 0 0.5rem;
  position: relative;
  text-align: center;
  float: left;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
#social-nav ul li a {
  color: #fff;
  font-size: 1em;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #fff;
  line-height: 3.5rem !important;
  position: relative;
  margin: 0 0.5rem;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -webkit-backface-visibility: hidden;
}
#social-nav ul li a:hover {
  color: white;
  background: #00fbd5
}
#social-nav ul li a i {
  position: relative;
  top: 0;
  left: 0;
}

/* ------------------------------------- */
/* 10. Photo gallery ................... */
/* ------------------------------------- */
.pswp__bg {
  background: #323a45;
}

.pswp__caption h4 {
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 300;
  margin-bottom: 1rem !important;
}
.pswp__caption p {
  font-weight: 100;
}

/* ------------------------------------- */
/* 11. Media Queries ................... */
/* ------------------------------------- */
/* Large Devices, Wide Screens @media only screen and (max-width: 1600px) */
/* Notebook devices @media only screen and (max-width: 1281px) */
/* Medium Devices, Desktops @media only screen and (max-width: 1024px) */
@media only screen and (max-width: 1024px) {
  #right1 {
    display: none;
  }

  body, html {
    overflow: visible !important;
  }

  #multiscroll-nav {
    display: none;
  }

  .slideshow-home-left, .slideshow-home-right {
    position: relative !important;
    z-index: -10;
    width: 100vw;
    height: 100vh !important;
  }

  .slideshow-overlay-left {
    width: 100vw;
    height: 100%;
  }

  .slideshow-overlay-right {
    width: 100vw;
    height: 100%;
  }

  .ms-left, .ms-right {
    width: 100% !important;
    min-height: 0 !important;
    height: auto !important;
    position: relative !important;
    top: auto !important;
  }
  .ms-left .ms-section, .ms-right .ms-section {
    height: auto !important;
    position: relative;
  }
  .ms-left .ms-section .ms-tableCell, .ms-right .ms-section .ms-tableCell {
    height: auto !important;
  }

  .text-left-block .left-center-text {
    height: auto;
    padding: 10%;
  }

  .block-team ul.social-team {
    opacity: 1;
    left: 2.5rem;
  }

  .carousel-inner {
    margin-bottom: 5rem;
  }

  #social-nav {
    position: fixed;
  }

  .slideshow-home {
    width: 100vw;
    right: 0;
  }

  .spec-padding-bottom {
    padding-bottom: 15% !important;
  }

  .split-section {
    width: 100% !important;
    border-bottom: 0.1rem solid #939da5;
  }

  .intro {
    position: absolute;
    padding: 0 5%;
  }

  .portfolio figure {
    height: auto;
  }
  .portfolio figure:after {
    opacity: 1;
  }
  .portfolio figure figcaption {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .section {
    padding: 0;
  }
  .section.hover-off {
    opacity: 1;
  }
  .section:after {
    width: 100% !important;
    left: 0 !important;
  }

  .section .text-left-block .left-center-text {
    height: auto;
    padding: 10%;
  }

  #info {
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 10%;
    z-index: 9999;
  }
  #info.newsletter-opened {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #info #social-nav {
    bottom: auto;
    left: auto;
    width: 100%;
    position: relative;
    margin-top: 5rem;
    text-align: center;
  }
  #info #social-nav ul {
    display: inline-block;
  }
}
/* Small Devices, Tablets @media only screen and (max-width: 768px) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 5.5rem;
  }

  #info .content {
    padding: 0 5%;
  }

  .block-team img.team-member {
    width: 100%;
  }
}
/* Extra Small Devices, Phones @media only screen and (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .intro {
    padding: 5rem 5% 0;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  .home-logo {
    top: 7rem;
    left: calc(50% - 4rem);
  }

  #clock {
    font-size: 6rem;
  }
  #clock span {
    font-size: 1.6rem;
  }

  .action-btn {
    border-radius: 0;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
  }
  .action-btn:after {
    display: none;
  }
  .action-btn:hover {
    padding-right: 2.5rem;
  }
  .action-btn.jello {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    opacity: 1;
  }

  #social-nav {
    position: absolute;
    width: 100%;
    bottom: 4rem;
    right: 0;
    text-align: center;
  }
  #social-nav ul li {
    display: inline-block;
    float: none;
  }

  #multiscroll-nav {
    display: none !important;
  }

  .scroll-indicator {
    display: none;
  }

  .intro p {
    font-size: 1.2rem;
  }

  .block-team {
    margin-bottom: 2rem;
  }
  .block-team:last-child {
    margin-bottom: 0;
  }

  .spec-padding-bottom {
    padding-bottom: 35% !important;
  }

  #info {
    padding: 10% 0;
  }
  #info .content {
    padding: 0 5%;
  }
  #info .content .brand-logo {
    max-width: 12rem;
    margin-bottom: 2rem;
  }

  #subscribe #notifyMe {
    margin-top: 0;
  }

  #subscribe #notifyMe .form-group .form-control {
    width: 95%;
  }

  #subscribe #notifyMe .form-group button.submit {
    margin-top: 2rem;
  }

  .section .text-left-block .left-center-text {
    padding: 6rem 10%;
  }

  .block-message {
    padding: 0.5rem 0.2rem;
  }

  p.notify-valid {
    font-size: 1.2rem;
  }
}
/* Only for tablet in landscape mode @media only screen and (max-device-width: 1024px) and (orientation: landscape) */
/* Only for phone in landscape mode @media screen and (max-device-width: 667px) and (orientation: landscape) */
@media screen and (max-device-width: 667px) and (orientation: landscape) {
  .action-btn {
    border-radius: 0;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
  }
  .action-btn:after {
    display: none;
  }
  .action-btn:hover {
    padding-right: 2.5rem;
  }
  .action-btn.jello {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    opacity: 1;
  }

  .home-logo {
    top: 7rem;
    left: calc(50% - 4rem);
  }

  #section0 {
    height: auto !important;
  }

  .intro {
    padding: 17rem 5% 8rem;
  }

  .scroll-indicator {
    display: none;
  }

  #social-nav {
    position: relative;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
  }
  #social-nav ul li {
    display: inline-block;
    float: none;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  .intro p {
    font-size: 1.2rem;
  }

  #portfolio .portfolio figure {
    height: 100vh;
  }

  #map {
    height: 200vh;
  }

  #info {
    padding: 10% 0;
  }
  #info .content {
    padding: 0 5%;
  }
  #info .content .brand-logo {
    max-width: 8rem;
    margin-bottom: 2rem;
  }
  #info .content p.subtitle {
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  #info .content #subscribe #notifyMe {
    margin-top: 2rem;
  }
  #info .content #subscribe #notifyMe .form-group .form-control {
    width: 70%;
    height: 5rem;
    margin: 0;
    float: left;
    border-radius: 0.3rem 0 0 0.3rem;
  }
  #info .content #subscribe #notifyMe .form-group button.submit {
    width: 30%;
    height: 5rem;
    margin-top: 0;
    float: left;
    border-radius: 0 0.3rem 0.3rem 0;
  }
}



